<!-- <div>
                
    <div class="form-group">
        <label>UDID:</label>
        <input type="text"  ng-model="UDID" class="form-control" placeholder="Enter UDID..."/>
    </div> -->
    <!--  <div class="form-group">
        <label>First Name:</label>
        <input type="text"  ng-model="fName" class="form-control" placeholder="Enter First Name..."/>
    </div> -->

<!-- 
    <div>
        <button class="btn btn-primary" ng-click="bringFromMixPanel(UDID)"> Find </button>
    </div> -->

<!-- all the needed fields -->
   <!--  Country Code: {{result.country_code}}<br>
    Created Date: {{result.created}}<br>
    Email: {{result.email}}<br>
    First Name: {{result.first_name}}<br>
    Last Name: {{result.last_name}}<br>
    Last Checkin : {{result.last_checkin}}<br>
    Last Checkout: {{result.last_checkout}}<br>
    Phone Number: {{result.phone}}<br>
    Time: {{result.time}}<br>
    Time Zone: {{result.timezone}}<br>
    Distinct Id: {{result.distinct_id}}<br>
    Last Seen: {{result.last_seen}}<br>
     -->

     <!-- {{result}} -->



<!-- </div> -->
<h1>Comming Soon</h1>

<img src="../assets/images/comming-soon.png"/>
